<?xml version="1.0"?>
<robot name="rm65_b_v_dexhand" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rm_description)/urdf/rm_65.urdf.xacro"/>
  <xacro:include filename="$(find rm65_dex_description)/urdf/dex_hand.urdf.xacro"/>

  <xacro:dex_hand prefix="hand_"/>

  <link name="rm65_tool0"/>
  <joint name="Link6_to_rm65_tool0" type="fixed">
    <parent link="Link6"/>
    <child link="rm65_tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="rm65_tool0_to_dex_hand_base" type="fixed">
    <parent link="rm65_tool0"/>
    <child link="hand_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <ros2_control name="RM65DexFakeSystem" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">-0.7</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">1.2</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="joint4">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="joint5">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.8</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="joint6">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="hand_thumb_metacarpal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="hand_thumb_proximal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="hand_index_proximal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="hand_middle_proximal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="hand_ring_proximal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="hand_pinky_proximal_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
</robot>
